<%- include('../layouts/Header')%>
<%- include('../layouts/Navigation')%>
<%- include('../layouts/Sidebar')%>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">ບົດຄວາມສາລະຄະດີ</h1>

        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin/discovers/get-add-discover">ສ້າງສາລະຄະດີໃຫມ່</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

   <!-- Main content -->
   <section class="content">
     <!-- <p></p> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">ບົດຄວາມສາລະຄະດີທັງຫມົດ</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Image</th>
                  <th>Title</th>
                  <!-- <th>Description</th> -->
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  <% discovers.forEach(function(discover){ %>
                    <tr>
                      <td>
                        <img src="data:image/<%= discover.image.contentType%>;base64, <%= discover.image.data.toString('base64')%>" alt="" width="105px" height="95px">
                      </td>
                      <td><%= discover.title %></td>
                      <!-- <td><%- discover.desc %></td> -->
                      <td>
                        <a href="/admin/discovers/view/<%= discover._id %>">Edit</a>
                        <a class="confirmDetetion" href="/admin/discovers/delete/<%= discover._id %>">Delete</a>
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>  
<%- include('../layouts/Footer')%>